.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f1f2;
  box-sizing: border-box;
}
.wrapper {
  padding: 80px 0;
  width: 400px;
}
.login {
  width: 100%;
  text-align: center;
}
.logo {
  text-decoration: none;
  width: 100%;
}
.logo img {
  max-width: 250px;
  width: 100%;
  display: block;
  margin: 20px auto;
}
.loginBoxTitle {
  margin-top: 5px;
  text-align: center;
}
.loginBoxTitle h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0px;
}
.loginBox {
  border-radius: 8px;
  background-color: #fff;
  padding: 20px 30px 10px 30px;
  box-shadow: 0 0 3px rgb(0 0 0 / 5%);
  border-bottom: 1px solid #ccc;
  max-width: 400px;
}
.loginBoxTitle p {
  margin-top: 20px;
  font-size: 14px;
  color: #6b7999;
  margin-bottom: 20px;
}

/*
input
*/
.containerInput {
  width: 100%;
}

.inputSignIn {
  width: 100%;
  font-size: 14px;
  color: #1f2533;
  margin-top: 12px;
  border-radius: 4px;
  padding: 10px 0 10px 16px;
  border: 1px solid #dfdfe5;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s all ease;
}

.inputSignIn:focus {
  border: 1px solid #1f2533;
}
.passwordContainer {
  position: relative;
}
.passwordContainer svg {
  position: absolute;
  top: 25%;
  font-size: 18px;
  right: 15px;
  color: #8e8e8f;
  cursor: pointer;
}
/*
input
*/

.containerRememberMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
}
.inputCheckbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.loginRememberMe {
  display: flex;
  align-items: center;
}
.loginRememberMe label {
  font-size: 15px;
  cursor: pointer;
}
.signinSep {
  margin: 20px auto;
  color: #6b7999;
  font-size: 14px;
  position: relative;
  display: block;
  text-align: center;
}
.signinSep::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 42%;
  height: 1px;
  background-color: #dfdfe5;
}
.signinSep::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 42%;
  height: 1px;
  background-color: #dfdfe5;
}
.googleWrap {
  text-align: center;
  padding-bottom: 20px;
}
.googleWrap h3 {
  font-size: 15px;
  font-weight: 300;
}
.googleLogin {
  margin: 15px auto 25px;
}
.googleLogin a {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #8e8e8f;
  color: #1f2533;
  transition: 0.3s ease;
}
.googleLogin a:hover {
  background-color: #f0f1f2;
}
.btnGoogleText {
  margin-left: 10px;
}
.googleLogin svg {
  font-size: 18px;
}

.iconPassword svg {
  top: 45%;
}
