@import "../../constants/styles/variables.css";

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}
.container {
  position: absolute;
  z-index: 9999;
  top: 50px;
  right: 20%;
  width: 350px;
  height: auto;
  padding: 20px 0 15px 0;
  background-color: var(--color-white);
  border-radius: 0.4rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  display: block;
}
.container::after {
  content: "";
  width: 20px;
  height: 20px;
  border-left: 1px solid var(--color-white-2);
  border-top: 1px solid var(--color-white-2);
  transform: rotate(45deg);
  background: inherit;
  position: absolute;
  top: -10px;
  right: 15px;
  z-index: 1;
}
.modalHeaderText p {
  text-align: left;
  font-size: 18px;
  font-family: inherit;
  margin: 0;
  padding-left: 20px;
  line-height: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-white-2);
}
.boxLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.boxLoginBtn {
  width: 90%;
  margin: 10px auto;
}
.boxLoginBtn a {
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.boxLoginLink {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--color-link);
  font-weight: 500;
}
.boxLoginLink a {
  color: var(--color-link);
  text-decoration: none;
}

.contentList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contentList li {
  cursor: pointer;
  width: 100%;
}
.contentList li:last-child {
  margin-bottom: 10px;
}
.contentList li:hover {
  background-color: var(--color-white-3);
}
.contentList li:hover a {
  color: var(--color-blue-dark);
}
.link {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-gray-5);
  padding: 10px 20px;
  display: block;
  width: 100%;
}
.myAccountFooter {
  text-align: left;
  font-family: inherit;
  margin: 0;
  border-top: 1px solid var(--color-white-2);
  cursor: pointer;
}
.linkLogout {
  font-size: 15px;
  color: var(--color-gray-5);
  padding: 10px 0px 10px 20px;
  display: block;
}
.myAccountFooter:hover {
  background-color: var(--color-white-3);
  color: var(--color-blue-dark);
}
