.containerBig {
  display: flex;
  flex-direction: column;
}
.wrap {
  min-height: 500px;
  display: flex;
  width: 100%;
  max-width: 1190px;
  margin: 20px auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 60px;
}
/* LOADER*/
.containerLoader {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #b224b3 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
/* LOADER*/

.containerSwiperBooks {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.newProducts {
  background-color: #f2f5f5;
  padding: 30px 0;
}
