.container {
  max-width: 100%;
  background-color: #f2f5f5;
}
.myaccount {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 24px;
}
.myaccountAside {
  max-width: 250px;
  width: 100%;
  display: block;
  margin-right: 10px;
  overflow-x: hidden;
}
