.personalDataWrap {
  background-color: #fff;
  border-radius: 8px;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0 0 0 / 5%);
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.title {
  padding: 20px 0 20px 20px;
  margin: 0;
}
