@import "../../constants/styles/variables.css";

.btnCart {
  width: 45px;
  height: 45px;
  overflow: hidden;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  cursor: pointer;
  outline: none;
  border: none;
}
.btnCart svg {
  color: var(--color-white);
  font-size: 23px;
}
