.containerCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  max-width: 1200px;
  justify-content: space-between;
  width: 100%;
}
.bannerImg {
  width: 590px;
  height: 240px;
  border-radius: 8px;
  display: block;
  transition: all 0.15s ease;
  margin-bottom: 20px;
}
.bannerImg:hover {
  transform: translateY(-0.5rem) translateY(0.5rem) scale(1.025);
}
