.wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f1f2;
}
.login {
  max-width: 400px;

  width: 100%;
  text-align: center;
}
.link__logo {
  text-decoration: none;
  width: 100%;
}
.link__logo img {
  max-width: 250px;
  width: 100%;
  display: block;
  margin: 20px auto;
}
.login__wrap__title {
  margin-top: 5px;
}
.login__wrap__title h4 {
  font-weight: 400;
  font-size: 18px;

  margin-bottom: 0px;
}
.login__wrap {
  border-radius: 8px;
  background-color: #fff;
  padding: 20px 30px 10px 30px;
  box-shadow: 0 0 3px rgb(0 0 0 / 5%);
  border-bottom: 1px solid #ccc;
}
.login__wrap__title p {
  margin-top: 20px;
  font-size: 14px;
  color: #6b7999;
  margin-bottom: 20px;
}

/*
  input
  */
.container__input {
  width: 100%;
}

.input__signin {
  width: 100%;
  font-size: 14px;
  color: #1f2533;
  margin-top: 12px;
  border-radius: 4px;
  padding: 10px 0 10px 16px;
  border: 1px solid #dfdfe5;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s all ease;
}
.input__signin:first-child {
  margin-top: 0px;
}
.input__signin:focus {
  border: 1px solid #1f2533;
}
/*
  input
  */
.btn {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-image: linear-gradient(to right, #b224b3, #3c24b2);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px;
}
.error__messages__login {
  color: red;
  font-size: 14px;
}

.container__rememberMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
}
.input__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.login__rememberMe {
  display: flex;
  align-items: center;
}
.login__rememberMe label {
  font-size: 15px;
  cursor: pointer;
}
.signin__sep {
  margin: 20px auto;
  color: #6b7999;
  font-size: 14px;
  position: relative;
  display: block;
}
.signin__sep::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 42%;
  height: 1px;
  background-color: #dfdfe5;
}
.signin__sep::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 42%;
  height: 1px;
  background-color: #dfdfe5;
}
.google__wrap h3 {
  font-size: 15px;
  font-weight: 300;
}
.google__login {
  margin: 15px auto 25px;
}
.google__login a {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
  border: 1px solid #8e8e8f;
  color: #1f2533;
  transition: 0.3s ease;
}
.google__login a:hover {
  background-color: #f0f1f2;
}
.btn__google__text {
  margin-left: 10px;
}
.google__login svg {
  font-size: 18px;
}

/*
  Create Account
  */
.create__account__wrap {
  border-radius: 8px;
  background-color: #fff;
  padding: 20px 30px 10px 30px;
  box-shadow: 0 0 3px rgb(0 0 0 / 5%);
  border-bottom: 1px solid #ccc;
  position: relative;
  max-width: 500px;
}
.back {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #126fdf;
  text-decoration: none;
}

.create__account__wrap h4 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;

  margin-bottom: 0px;
}
.create__account__wrap p {
  font-size: 14px;
  margin-bottom: 30px;
}
.password__container {
  position: relative;
  margin-top: 12px;
}
.password__container svg {
  position: absolute;
  top: 25%;
  font-size: 18px;
  right: 15px;
  color: #8e8e8f;
  cursor: pointer;
}
.terms__wrap {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  text-align: left;
  align-items: center;
}
.terms__wrap label {
  cursor: pointer;
}
.input__checkbox__confirmation {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mb__1 {
  margin-bottom: 10px;
}
.mb__2 {
  margin-bottom: 20px;
}
.mb__4 {
  margin-bottom: 40px;
}
.errorMessage {
  font-size: 12px;
  color: red;
  margin-left: 5px;
}
/*
  Create Account
  */
