.personalDataLabel {
  font-size: 13px;
  cursor: pointer;
  color: #6b7999;
  margin: 5px 0px;
}
.gender {
  margin: 15px 5px;
  display: flex;
  align-items: center;
}

.inputWrap {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.newsletter {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.newsletter label {
  margin: 5px 0;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}
.wrapBtn {
  margin-top: 10px;
}
