@import "../../constants/styles/variables.css";

.addressLink {
  display: block;
  font-weight: 500;
  margin-top: 40px;
  font-size: 14px;
  color: var(--color-secondary);
  padding-bottom: 10px;
  text-decoration: none;
}
