.containerIcon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.iconHeartDefault {
  background: url(../../images/heart.png);
  width: 34px;
  height: 34px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.isFavorite {
  background-position: 0 -30px;
}
