@import "../../constants/styles/variables.css";

.containerStar {
  text-align: left;
  margin-top: 5px;
}
.containerStar svg {
  color: var(--color-grey);
  font-size: 18px;
}
.starFull {
  color: var(--color-star-full) !important;
}
