@import "../../constants/styles/variables.css";

.badgesWrap {
  top: unset;
  bottom: var(--bottom);
  left: var(--left);
  max-width: 90px;
  overflow: hidden;
  line-height: 17px;
  z-index: 4;
  position: absolute;
  border-radius: 4px;
}
.badgesDiscount {
  padding: 2px 3px;
  color: var(--color-white);
  background-color: var(--bg-danger);
}
.badgesText {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
