@import "../../constants/styles/variables.css";

.badgesWrap {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 4px;
  max-width: 90px;
  overflow: hidden;
  line-height: 17px;
  z-index: 4;
}
.badge {
  padding: 1px 3px;
  text-align: center;
  border-bottom: 1px solid var(--badge-bg-primary);
}
.badgesWrap > :nth-child(1) {
  background-color: var(--badge-bg-border-1);
}
.badgesWrap > :nth-child(2) {
  background-color: var(--badge-bg-border-2);
}
.badgesWrap > :nth-child(3) {
  background-color: var(--badge-bg-border-3);
}
.badgesWrap > :nth-child(4) {
  background-color: var(--badge-bg-border-4);
}

.badge:last-of-type {
  border: 0;
}
.badgeText {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-size: 11px;
  text-transform: uppercase;
}
