@import "../../../constants//styles//variables.css";

.nav__burger {
  align-items: center;
  display: flex;
  background-image: linear-gradient(
    to left,
    var(--color-secondary),
    var(--color-primary)
  );
  margin-top: 22px;
}
.nav__burger__container {
  display: flex;
  max-height: 50px;
  max-width: 1450px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.navBurgerMenu {
  display: flex;
  position: relative;
  padding-left: 12px;
  margin-left: 45px;
  color: var(--color-white);
  font-family: inherit;
  align-items: center;
  width: 300px;
  background-color: var(--color-secondary);
  cursor: pointer;
  justify-content: space-around;
}
.navBurgerMenuLeft {
  display: flex;
  align-items: center;
  margin-right: 65px;
}
.navBurgerIconMenu {
  color: var(--color-white);
  font-size: 22px;
}
.navBurgerMenuLeft p {
  padding-left: 22px;
  font-size: 15px;
  line-height: 20px;
}
.navBurgerMenuRight {
  display: flex;
  align-items: center;
}
/*
  drop manu
  */
.navBurgerMenuDropMenu {
  position: absolute;
  top: 34px;
  width: 100%;
  color: var(--color-secondary);
  list-style: none;
  padding-left: 0;
  left: 0;
  visibility: hidden;
  background-color: var(--color-secondary);
  transition: all 0.15s ease;
  z-index: 9999999;
}
.navBurgerMenu:hover .navBurgerMenuDropMenu {
  visibility: visible;
}
.navBurgerMenuDropItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 10px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.navBurgerMenuDropItem svg {
  padding: 0 6px;
  color: var(--color-white);
  font-size: 18px;
}
.navBurgerMenuDropItem a {
  text-decoration: none;
  padding: 14px 20px 14px 20px;
  color: var(--color-white);
  font-size: 15px;
  width: 100%;
}

.arrowRight {
  font-size: 30px !important;
}
.navBurgerMenuDropItem:hover .menuSubDropList {
  visibility: visible;
}
.menuSubDropList {
  visibility: hidden;
  position: absolute;
  left: 99.5%;
  z-index: 100;
  background-color: var(--color-blue-light);
  list-style: none;
  width: 340px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding: 10px 20px 10px 20px;
  top: 0;
  font-family: inherit;
  box-shadow: inset 7px 0 9px -7px rgb(0 0 0 / 40%);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menuSubDropIteam {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.menuSubDropIteam a {
  color: var(--color-white);
  display: inline-block;
  flex-shrink: 0;
  margin: 0;
  padding: 5px 0;
}
.menuSubDropIteam:first-child {
  font-weight: bold;
}
.menuSubDropIteam a:hover {
  text-decoration: underline;
}
