.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  position: relative;
}

.form input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 10px 75px 10px 10px;
  font-size: 13px;
  background-color: #fff;
  outline: 0;
  border: 1px solid #e1e1e5;
}

.form button {
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.actions {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
}

.clearIcon,
.searchIcon {
  font-size: 25px;
  cursor: pointer;
  border: none;
  background: none;
}
