.input_primary {
  width: 100%;
}

.input_primary {
  width: 100%;
  font-size: 14px;
  color: #1f2533;
  margin-top: 12px;
  border-radius: 4px;
  padding: 10px 0 10px 10px;
  border: 1px solid #dfdfe5;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s all ease;
  font-family: inherit;
  line-height: 1.6;
}
.input_primary:first-child {
  margin-top: 0px;
}
.input_primary:focus {
  border: 1px solid #3f24b2;
}
.errorMessage {
  font-size: 13px;
  color: red;
  margin-left: 5px;
}
