@media screen and (max-width: 391px) {
  .navSearch {
    display: none;
  }

  .container {
    gap: 0;
    padding: 0;
  }
  .navbarMenu {
    display: block;
  }
  .navbarMenuImg {
    width: 16px;
    height: 18px;
  }
  .container {
    display: grid;
    grid-template-columns: 5rem auto 11% 11% 11% 11%;
  }
  .logoImg {
    width: 140px;
  }
}
