@import "../../constants/styles/variables.css";

.progressBarContainer {
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.06);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
.progressBarWrap {
  padding: 8px;
}
.progressBarOuter {
  background-color: var(--color-gray-2);
  height: 10px;
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
}
.progressBarInner {
  background-image: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary)
  );
  height: 100%;
  border-radius: 25px;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation: decreaseProgressBar 3s ease;
}
.ProgressBarText {
  color: rgb(137, 36, 179);
  text-align: center;
  font-weight: 700;
  line-height: 1.6;
}
@keyframes decreaseProgressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
